body{
    font-size: 18px;

}
main{
    display: flex;

}

h1{
    font-size: 25px;
    color: brown;
}

a{
    border: 2px solid blueviolet;
    color: chartreuse;
}

a:visited{
    color: crimson;
}
.section-titles{
    font-size: 30px;
}

.col{
    margin-left: 15px ;
    margin-right: 15px;
    padding: 5px 10px 10px 5px;
    border: 2px solid blue;
}

.col h1{
    margin-top: 10px;
}
#ingredientes{
    font-family: "Arial Black";
    font-style: italic;
}

#ingredientes li:first-child{
    color: aquamarine;
}
/*PSEUDOELEMENTOS*/
#utensilios::before{
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

#utensilios:after{
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    background-color: bisque;
}

details{
    margin-bottom: 20px;
}

details[open]{
    background-color: indigo;
    color: aliceblue;
}
